.footer {
    width: 100%;
    color: black;
    text-align: center;
    background-color: teal;
    justify-content: center;
    margin: auto;
    height: 100px;
    line-height: 1.5em;
    position: relative;
}

.footer > p {
    align-items: center;
    max-width: 950px;
    margin:auto;
    font-weight: bold;
}