footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-color: teal
}

.footer{
    justify-content: center;
    width: 1200px;
    margin: auto;
    height: 150px;
    line-height: 2em;
}

.footer > p {
    justify-content: center;
}